[user]
    name = Allan Amaral
    email = allanmaralr@gmail.com
[github]
    user = allanmaral
[init]
    defaultBranch = main
[alias]
    a = !git add
    s = !git status -s
    c = !git commit -m
    ca = !git commit --amend -m
    l = !git log --pretty=format:'%C(blue)%h%C(red)%d %C(white)%s - %C(cyan)%cn, %C(green)%cr'
    lg = !git log --pretty=format:'%C(blue)%h%C(red)%d %C(white)%s - %C(cyan)%cn, %C(green)%cr' --graph
    lga = !git log --pretty=format:'%C(blue)%h%C(red)%d %C(white)%s - %C(cyan)%cn, %C(green)%cr' --graph --all
    ps = !git push
    pl = !git pull
    d = !git diff
[commit]
    template = ~/.gitconf/.gitmessage
[core]
    excludesfile = ~/.gitconf/.gitignore
    hooksPath = ~/.gitconf/hooks
    editor = nvim
